# Jykell configuration
#markdown: redcarpet
#highlighter: pygments
markdown: kramdown
highlighter: rouge
paginate: 5
language: 'en-uk'

# Website info
name: 'DigiBits'
description: Computing Nature

# Author's info
author: 'DigiBits'
# edit 'categories' in the front matter of every post to match this username
nickname: DBit
bio: Digital is my second nature
location: 'Kolkata, India'
url: 'http://digibits.github.io/'
image: 'assets/images/DBit.jpg'

short_url: 'digibits.github.io'
google_analytics: UA-75897035-1
disqus: digibits
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /

# Permalinks
permalink: /:title
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate , jemoji]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: digibits
repo: digibits.github.io
branch: master
relative_source: ../Digibits\ Generator
destination: ../DigiBits-Pages
production_url:  https://digibits.github.io/
source_url:      https://github.com/digibits/digibits.github.io/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
