<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-mathematics {% if page.url contains 'mathematics' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/mathematics">Mathematics</a></li>
        <li class="nav-algorithms {% if page.url contains 'algorithms' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/algorithms">Algorithms</a></li>
	<li class="nav-DS {% if page.url contains 'DS' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/DS">Data Structures</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/{{ site.nickname }}">Author</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
